<nav>
  <ul>
    <li><a id="nav-home" class="nes-btn is-primary" href="#">Home</a></li>
    <li><a id="nav-pokemon" class="nes-btn" href="#">Pokémon</a></li>
    <li><a id="nav-types" class="nes-btn" href="#">Types</a></li>
  </ul>
</nav>
