<div>
	<div id='overview'>
		<div id='image-num'><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%- selectedMember %>.png" alt="Member image">No. <%- selectedMember %></div>
		<div id='name-level'>Gamera L10 HP: 32/32 STATUS/OK</div>
	</div>
	<div>ATTACK 17 DEFENSE 20 SPEED 17 SPECIAL 17</div>
</div>